@media (max-width: 767px){
	#folder-list.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}
}

a.folder-name{
	cursor: pointer;
}


.selected{
	border-right: 3px solid orange;
}

.inner-container{
	margin: auto;
	width: 70%;
}