@media (max-width: 767px){
	#folder-list.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}
}

a.folder-name{
	cursor: pointer;
}

.wrapper{
	padding-left: 250px;
}

.sidebar-wrapper{
	margin-left: -250px;
	width: 250px;
	background: #222;
	position: fixed;
	height: 100%;
	z-index: 100;
	bottom: 0;
	color: white;
}
.sidebar-nav{
	position: fixed;
	top: 51px;
	margin: 0;
	padding: 0;
	bottom: 90px;
}
#folder-list{
	position: absolute;
	overflow-y:auto;
	height: 100%;
	width: 250px;
	

	border-top: 1px solid #000;
	border-bottom: 1px solid #000;	
}

.sidebar-buttons{
	position: absolute;
	bottom: 0;
	width: 250px;
	padding-right:5px;
}
.sidebar-buttons >div{
	left: 70px;
}
.sidebar-nav li a {
	color: #999;
}

.sidebar-nav li h3 {
	color: #999;
}
.content-wrapper{
	width:100%;
}

.selected{
	border-right: 3px solid orange;
	border-left: 3px solid orange;
}

.inner-container{
	margin: auto;
	width: 70%;
}

#transaction-table > tbody > tr > th{
	vertical-align: baseline;
}

textarea{
	height: 1.2em;
	background-color: white;
	autofocus: none;
	border: 0;
	resize: none;
	overflow: hidden;
}

