#folder-list.affix {
  position: static;
  width: auto;
  top: 0;
}

.folder-name : hover{
	cursor: pointer;
	background-color: red;
}

tr.billPaid td:before{
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	border-bottom: 1px solid #111;
	width: 100%;
}