@(id: String)
		<div id='@id-list'>
							<table class='table' id='@id-table'>
								<thead>
									<tr>
										<th> 
											<div class='btn-group'>
												<button type='button' class='btn btn-default' id='add'>
													Add 
												</button>
												 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
												    <span class="caret"></span>
												    <span class="sr-only">Toggle Dropdown</span>
												</button>
												<ul class='dropdown-menu' role='menu'>
													@if(id == "bills"){
													<li><a href='#' id='payButton'>Paid</a><li>
													}
													<li><a href='#' id='updateButton'>Update</a><li>
													<li><a href='#' id='delete'>Delete</a><li>
												</ul>
											</div>
										</th>
										<th>Date</th>
										<th>Description</th>
										<th>Amount</th>
										@if(id == "bills"){
										<th>Recurring</th>
										}
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div> 