@(form: Form[Application.Login])

<html>
	<head>
	</head>
	
	<body>
		@helper.form(routes.Application.authenticate()){
			@if(form.hasGlobalErrors){
				<p class="errors">
					@form.globalError.message
				</p>
			}
			@if(flash.contains("success")){
				<p class="success">
					@flash.get("success")
				</p>
			}
			
			<input type="email" name="email" placeholder="Email" value="@form("email").value">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" value="Login">		
		
		}
	</body>
</html>